EscapeFromTarkov_Data
Logs
SPT_Data
NLog
MonoBleedingEdge
Logs

!user/cache
user

ServerValueModifier

ConsistencyInfo

/*.dll
/*.exe
/*.log
/*.ini
/*.txt
!BepInEx/plugins/*.dll
InitializeServerFiles.bat
Greed.exe - Shortcut.lnk
user/launcher/config.json
