EscapeFromTarkov_Data
Logs
SPT_Data
NLog
MonoBleedingEdge
Logs

!user/cache
user/losg
user/mods
user/profiles
user/sptappdata

ServerValueModifier

ConsistencyInfo

/*.dll
/*.exe
/*.log
/*.ini
/*.txt
!BepInEx/plugins/*.dll
InitializeServerFiles.bat
Greed.exe - Shortcut.lnk
